* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


body{
    background: rgb(250, 250, 250);
}
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-images {
    display: flex;
    
}

.section-1 {
 display: flex;
 


}

.container4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.images-bg {
    display: flex;
    margin-right: -293px;
    width: 400px;
    margin-top: 30px;
}


.section-2 {
    display: flex;
   flex-direction: column;
   max-width: 350px;
   width: 100%;
   
}


.container-2 {
    display: flex;
   margin-top: 35px;
    

}

.pervi-blok {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
    border: 2px solid rgb(214, 213, 213);
    border-width: 1px;
    border-radius: 2px;
}

.form-2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

.input-1 {
    margin-bottom: 7px;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 12px;
    padding: 11px 7px;
    background: rgb(250, 250, 250); 
    border: 1px solid #00000021;
    border-radius: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-2 {
    margin-bottom: 15px;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 11px;
    padding: 12px 7px;
    background: rgb(250, 250, 250);
    border: 1px solid #00000021;
    border-radius: 3px;
    
}

.button {
    margin-bottom: 20px;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 14px;
    color: white;
    background: rgba(105, 192, 236, 0.918);
    border: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    opacity: 0.7;

}

.poloska-main {
    display: flex;
    justify-content: space-around;
    color: rgb(199, 199, 199) ;
    margin-top: -25px;
    align-items: center;
}





.button:hover {
    background: rgb(3, 104, 245);
    cursor: pointer;
}

.title-p {
    color:  rgb(157, 155, 155) ;
    font-size: 14px;
    font-family: arial;
}

.title-p2 {
    color: rgb(38, 38, 38);
 font-size: 13px;
 padding-left: 10px;
 padding-right: 4px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-link {
    
    display: flex;
    justify-content: center;
    color: rgba(0,149,246);
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 10px;
}

.vtoroy-blok {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    border: 2px solid rgb(220, 220, 220);
    border-width: 1px;
    border-radius: 2px;
    
    
    
}

.vtoroy-blok__container {
    display: flex;
    align-items: center;
    background: white;
    margin-top: 0px;
    padding: 23px 25px;
    font-family: arial;
}





.facebook {
    
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    margin-bottom: -10px;

}

.facebook__iconka {
    padding-right: 6px;
    font-size: 17px;
    
}

.facebook-link {
    
    color: #385185;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    
}

.facebook-link:hover {
    color: rgb(18, 74, 177);
}
    

.password-not {
     font-family: arial;
    color: #385185;
    margin-top: 15px;
    font-size: 11px;
}

.password-not:hover {
   color: rgb(18, 74, 177);
}

.blok-posledni {
    
    text-align: center;
    margin-bottom: 0px;

}

.title-3 {
    margin: 15px 0;
    margin-top: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}


.apple {
    width: 135px;
    padding-right: 1px;
    margin-top: 5px;
    
}

.google {
    width: 135px;
    padding-left: 5px;
    
}


/* footer */

.footer-link {
    font-size: 12px;
    font-family: arial;
    color: rgb(142, 142, 142);
    padding: 5px 8px;
    
}

.footer-link-2 {
    font-size: 12px;
    font-family: arial;
    color: rgb(142, 142, 142);
    padding: 7px;
    
}
input:focus {
    outline-color: rgba(0, 0, 0, 0.176);
    outline: 0;
}

.footer {
    display: flex;
    
}
.footer-main {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 42px;
}

.footer-сontent {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    flex-wrap: wrap;
}

.footer__main-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    flex-wrap: wrap;
}

.footer__main-li {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.footer__main-link1 {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(108, 107, 107, 0.795);
}

/* END */


  
   
